<h1>Championships</h1>

<div class="col-sm-6">
  <% @championships.each do |data| %>
    <div class="col-sm-12" style="margin-bottom:10px">
      <div class="pull-left col-sm-4"> <%= data["title"]%></div>
      <div class="pull-left col-sm-4"> <%= data["status"]%></div>
      <% if data["status"] == "open" %>
        <button class="pull-left col-sm-2 btn btn-success" class="join-championship" data-championship="<%= data['id']%>">Join</button>
      <% end %>
    </div>
  <%end%>
</div>