
<script type="text/javascript">
  $(function() {
    $(".join-championship").on("click", function(e){
        var championshipId = $(e.target).data("championship")
        $.ajax({
        url: "/championships",
        type: "POST",
        data: {championshipId: championshipId},
        success: function(data){
          window.location.href = "/championships/"+data.championshipId;
        },error: function(data) {          
          alert(data.responseJSON.errors)
        },
        dataType: "json"
      });   
              
    
    });
    
  });
</script>

<h1 style="text-align:center">Championships</h1>

<div class="col-sm-6" style="margin:auto;float:none">
  <table id="championships" class="table table-striped">
  <thead>
    <tr>
      <th> Title </th>
      <th> Status </th>
      <th> Action</th>            
      <th> View</th>            
    </tr>
  </thead>
  <tbody>
    <% @championships.each do |data| %>
      <tr>
        <td><%= data["title"]%></td>
        <td><%= data["status"]%></td>
        <% if data["status"] == "open" %>
          <td><button class="pull-left col-sm-5 btn btn-success join-championship"  data-championship="<%= data['id']%>">Join</button></td>
        <%else%>
          <td></td>
        <% end %>
        <td><a href="/championships/<%= data['id']%>">View</a></td>
      </tr>
    <% end %>
  </tbody>
  
</table>
  
    
</div>